.navbar {
  text-align: center;
  width: 100%;
}

/* Carousel base class */
#ci {
  margin-bottom: 4rem;
  min-width: 100%;
  height: 32rem !important;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#ci {
  height: 32rem;
}

#ci>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem !important;
  -webkit-height: 32rem;
  -moz-height: 32rem;
  z-index: -2;
  -webkit-position: absolute;
}

#ci::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4) !important;
  -webkit-background: rgba(0, 0, 0, 0.4) !important;
  -moz-background: rgba(0, 0, 0, 0.4) !important;
  z-index: -1;
}

/**/
/* CSS used here will be applied after bootstrap.css */
.carousel {
    margin-top: 20px;
    min-width: 100%;
    max-height: 800px !important;

}


.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
    border: 2px soldid black;
}
.carousel-indicators li:hover{
  opacity: 1;
  transform: scale(1.2);
}
.carousel-indicators .active{
  transform: scale(1.2);
}

#carousel-thumb{
	padding: 200px;
	padding-bottom: 0;
	padding-top:0;
	justify-content:center;
	height: 50%;
}
@media screen and (max-width: 780px) {
  #carousel-thumb {
    width:100%;
    padding:0;

  }
}
@media screen and (max-width: 780px) {
   .carousel-indicators{
    display:none!important;
  }
  .carouselthumb{

  }
  .color{
   background-color:rgba(0,0,0,.4);
  }
  .color:hover{
    background-color:rgba(0,0,0,.9);
  }
}
.carousel-item img{
	height: 20%!important;

}
.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
	  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);

	&.active {
		border-bottom: 4px solid #fff;
	}
}
.color{

}
.color:hover{
  background-color:rgba(0,0,0,.9);
}

/* Center align the text within the three columns below the carousel */
.marketing .col-md-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-md-3 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/*   about-us */
.about-us h1 {
  text-align: center;
  text-decoration: underline;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Featurettes
------------------------- */
.featurette.show {
  opacity: 1;
}

.list {
  list-style: none;
  columns: 2;
  text-align: center;
  margin-top: 100px;
}

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette {
  opacity: 0;
  transition: 2s;
}

/*--- gallerey----*/
h2 {
  font-family: Satisfy;
  font-size: 60px;
  text-align: center;
  color: black;
  padding: 1%;
}


.card {
  width: 100% !important;
  height: auto !important;
  margin: 4% auto;
  box-shadow: -3px 5px 15px #000;
  cursor: pointer;
}

.modal-img, .model-vid {
  width: 100%;
  height: auto;
}

.form-control {
  background: transparent !important;
  color: white !important;
  border: 0 !important;
  border-bottom: 2px solid #c5ecfd !important;
}

label {
  color: black;
}

.form-control::placeholder {
  color: #c5ecfd !important;
}



.hidden {
  display: none;
}

.more {
  text-align: center;
}

.border-map {
  border: 3px solid #6dd5ed !important;
  padding: 3px;
}

/* button and hover effect------------*/
.btn {
  font-size: 35px;
  letter-spacing: 3px;
  padding: 12px 20px;
  background-color: #;
  background: linear-gradient(270deg, #2193b0, #6dd5ed);
  color: white !important;
  position: relative;
  font-style: normal;
  transition: all .3s;
  overflow: visible;
  border: none;
  cursor: pointer;
  text-shadow: 2px 1px black;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  background: rgba(0, 255, 255, 0.3);
  border-radius: 5px;
  transition: all .4s ease;
}

.btn:hover:before {
  height: 100%;
}

.btn:hover {
  color: rgba(0, 255, 255, 1) !important;
}

/*footer--------------------------------------------*/
.page-footer {
  color: #dadada !important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.slideanim {
  visibility: hidden;
}

.slides {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .col-lg-3 {
    text-align: center;
    margin: 25px 0;
  }

  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}
